.bug{background-color: #bf7f30;}
.dragon{background-color: #bf3030;}
.electric{background-color: #ffcc40;}
.fairy{background-color: #ffed73;}
.fighting{background-color: #bf7130;}
.fire{background-color: #ff7373;}
.flying{background-color: #5ccdc9;}
.grass {background-color: #99ee6b;}
.ground{background-color: #bf8e30;}
.normal{background-color: #ffcf73;}
.poison{background-color: #aa67d5;}
.psychic{background-color: #ebcaa3;}	
.rock{background-color: #cccccc;}
.water{background-color: #63add0;}